/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  background: #000000;
  color: #fff;
  font-family: 'Hack', serif;
  font-size: 12px;
  line-height: 1.4;
}

@font-face {
  font-family: 'HACKED';
  src: url("../fonts/HACKED.ttf");
}

@font-face {
  font-family: 'Hack';
  src:
    url("../fonts/Hack-Regular.ttf"),
    url("../fonts/Hack-Bold.ttf"),
    url("../fonts/Hack-Bolditalic.ttf"),
    url("../fonts/Hack-Italic.ttf");
}


/* Main styles */

#covid-warning {
  color: #000;
  background:
    #42FF00
    repeating-linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) 20px,
      transparent 20px, transparent 40px
    );
  padding: 10px;
  text-align: center;
}

#container {
  margin: 50px auto 200px auto;
  padding: 0 10px;
  max-width: 70%;
}

@media screen and (max-width: 600px) {
  #container {
    text-align: center;
  }
}

#header h1 {
  display: block;
  margin: 0px;
  font-family: 'HACKED';
  font-size: 46px;
  text-shadow:
    -4px -4px 0 #f0f,
    4px 4px 0 #0ff;
}

.map-wrapper {
  overflow-y: hidden;
}

#map-address {
  padding: 10px;
  color: #fff;
  text-align: center;
}

#map {
  width: 100%;
  height: 250px;
  border: 0;
}

#links {
  margin: 30px 0;
  width: 100%;
}

#links ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

#links ul li {
  display: inline-block;
}

#links ul li a {
  text-decoration: none;
  color: #000;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  margin: 10px;
  font-family: HACKED, serif;
  font-size: 15px;
  background: #fff;
}
#links ul li:first-child a{
  margin-left: 0;
}

#partners {
  text-align: center;
  margin-top: 70px;
}

#partners img {
  margin: 10px;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  margin: 15px;
}
